apiVersion: apps/v1
kind: Deployment
metadata:
  name: app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: app
  template:
    metadata:
      labels:
        app: app
    spec:
      initContainers:
        - name: copy-html
          image: busybox
          command: ['sh', '-c', 'cat > /tmp/index.html << EOF
<html>
<head>
  <title>My Custom NGINX Page</title>
</head>
<body style="display:flex; align-items:center; justify-content:center">
  <div>
    <h1>Welcome to My Custom NGINX Page!</h1>
    <p>This page is from the pods in <b>DEV</b> namespace</p>
  </div>
</body>
</html>
EOF']
          volumeMounts:
            - name: html-volume
              mountPath: /tmp
      containers:
        - name: app
          image: nginx:alpine
          volumeMounts:
            - name: html-volume
              mountPath: /usr/share/nginx/html/index.html
              subPath: index.html
          ports:
            - containerPort: 80
          resources:
            requests:
              cpu: "100m"
              memory: "128Mi"
            limits:
              cpu: "500m"
              memory: "256Mi"
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 5
      volumes:
        - name: html-volume
          emptyDir: {}
